* {
  margin: 0;
  padding: 0;
}

html {
  /* tipografía palo seco sin serif */
 font-family: Arial, Helvetica, sans-serif;
}
/* contenedor para formulario */
.container {
  display: flex;
  background-color: 318273;
  /* centrado en horizontal */
  justify-content: center;
  /* centrado en vertical */
  align-items: center;
  /* altura en porcentaje del viewport height (vh) */
  /*height: 100vh;*/
  /*min-height: 200px;*/
}
/* formulario */
form {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

body.sobre-nosotros {
  background-color: #c7ecee; /* Celeste claro */
}

/* Estilos para el contenido del cuerpo específico */
body.sobre-nosotros p {
  font-size: 18px;
  line-height: 1.6;
  color: #333; /* Color de texto oscuro */
  margin: 20px; /* Margen alrededor del párrafo */
}

footer {
  background-color: blue; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 5px 0; /* Espaciado interno del footer */
  text-align: center; /* Alinea el texto al centro */
  position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
  left: 0; /* Se coloca a la izquierda */
  bottom: 0; /* Se coloca en la parte inferior */
  width: 100%; /* Ancho completo */
}

/* Estilos para el contenedor del footer */
.container {
  max-width: 960px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}

.container-footer {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.p-footer {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

/* aplica propiedades a clase imágenes */

.logo{
  width: 45px;
  /* rotación duración 1 seg */
  animation: rotation 1s infinite linear;
}

/* define keyframes de rotacion */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*menu*/
body {
  background-color: #ECF3FF;
}
header {
  background-color: blue;
  /* En esta parte alineamos con el logo conlos elementos del menu */
  display: flex; 
  align-items: center; 
}

nav {
  padding: 4px;
  background-color: blue;
  flex-grow: 1;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #318273;
  overflow: hidden;
}

nav li {
  float: left;
}
nav li a {
  display: block;
  color: rgb(19, 18, 18);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cuerpo {
  padding: 40px;
}

.articontainer {
  display: flex;
  justify-content: center;
  background-color:lightcyan;
}

.articulo {
  /* display: flex; */
  text-align: center;
  width: 250px;
  background-color: lightgray;
  justify-content: center;
  margin: 10px;
  font-size: large;
  /* font-weight: bold; */
  transition: box-shadow 0.3s ease; 
}

.articulo:hover {
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5); 
}

/* Carrusel */
.carousel-indicators .active {
  background-color: red; /* Cambia el color de fondo del indicador activo */
}
.carousel-indicators li {
  background-color: blue; /* Cambia el color de fondo de los indicadores inactivos */
}

/*mapa*/
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.iframe-container iframe {
  width: 612px; /* Ancho del iframe ajustable */
  height: 336px; /* Altura del iframe ajustable */
}