html {
  /* tipografía palo seco sin serif */
  font-family: Arial, Helvetica, sans-serif;
}
/* contenedor para formulario */
.container {
  display: flex;
  background-color: gray;
  /* centrado en horizontal */
  justify-content: center;
  /* centrado en vertical */
  align-items: center;
  /* altura en porcentaje del viewport height (vh) */
  height: 100vh;
  min-height: 200px;
}
/* formulario */
form {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

body.sobre-nosotros {
  background-color: #c7ecee; /* Celeste claro */
}

/* Estilos para el contenido del cuerpo específico */
body.sobre-nosotros p {
  font-size: 18px;
  line-height: 1.6;
  color: #333; /* Color de texto oscuro */
  margin: 20px; /* Margen alrededor del párrafo */
}

footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto del footer */
  padding: 20px 0; /* Espaciado interno del footer */
  text-align: center; /* Alinea el texto al centro */
  position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador */
  left: 0; /* Se coloca a la izquierda */
  bottom: 0; /* Se coloca en la parte inferior */
  width: 100%; /* Ancho completo */
}

/* Estilos para el contenedor del footer */
.container {
  max-width: 960px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
}