*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     margin: 0;
     font-family: 'Roboto', sans-serif;
}

h1{font-size: 3.5em;}
h2{font-size: 3.1em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

.container{
    max-width: 1100px;
    margin: auto;
}

header{
    background-color: #EEE2DE;
}

header .logo{
    margin: 0;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 4em;
    color: #B31312;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
}

header nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #2B2A4C;
}

header a:hover{
    color:#B31312;
    text-decoration: none;
}

.login{
    margin: 0 auto;
}

/* main Index */

.inde{
    background-color: #2B2A4C;
    text-align: center;
    padding: 50px;
}

.containerDibu{
    padding: 300px 18px;
    height: 80%; */tamaño cuadro blanco*/
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    background-color: #EA906C;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
    padding-bottom: 50px;
}

.inde .containerInde{
    padding: 200px 12px;
    height: 80%; */tamaño cuadro blanco*/
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 0px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
    padding-bottom: 50px;
}

.inde .containerInde h2{
    margin-top: 0;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 1.5em;
    color: #B31312;
}


.nosotros{
    background-color: #2B2A4C;
    text-align: center;
    padding: 50px;
    
}

.nosotros .containerNos{
    padding: 250px 12px;
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #EA906C;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}

.nosotros .containerNos h2{
    margin-top: 0;
    padding-bottom: 50px;
    color: #EEE2DE;
}

.nosotros .containerNos p{
    display: flex;
    color: #B31312;
    font-weight: bold;
}

.nosotros .iframe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

/* main Contacto */

.cuerpoGral{
    background-color: #2B2A4C;
    text-align: center;
}

.cuerpoGral .container{
    padding: 150px 12px;
}

.cuerpoGral .container h2{
    margin-top: 0;
    padding-bottom: 50px;
    color: #EEE2DE;
}

.cuerpoGral .container .cuerpo h3{
    color: #2B2A4C;
}

.cuerpoGral .container .cuerpo p{

    display: flex;
    color: #B31312;
    font-weight: bold;
}

.cuerpoGral .cuerpo .card{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    background-color: #EA906C;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}

.cuerpoGral .container h3{
    margin-top: 10;
    padding-bottom: 10px;
    color: #EEE2DE;
}

.inde .containerInde img{
    
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* main Registro */
/* Falta. Colocar aquí */

/* main Login */
/* Falta. Colocar aquí */

footer{
    background-color: #EEE2DE;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    color: #2B2A4C;
    font-weight: bold;
}

    footer p{
    margin: 0;
    padding: 12px;
}
footer .container .color-acento{
        font-weight: bold;
        color: #B31312;
}

footer .container section ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* PRIMER CORTE ---------------------------------------------------------------------- */

@media only screen and (min-width: 768px){
    
    header{
    width: 100%;
    
    
}

    header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 3em;
    color: #B31312;
}
    header nav a{
    padding: 5px 9px;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
    color: #2B2A4C;
}

    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        align-items: center;
        
    }

.inde{
    background-color: #2B2A4C;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.containerDibu{
    margin-top: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 90%;
    
}

.inde .containerInde{
        margin-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        height: 90%;
    }

.inde .containerInde h2{
    padding-top: 20px;
    font-size: 3.0em;
    }

    .inde .containerInde img{
    
        width: 90%;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }


.nosotros{
    background-color: #2B2A4C;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

    .nosotros .containerNos{
        margin-top: 25px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    
/* main Contacto */

.cuerpoGral .container .cuerpo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
    }/* main Registro */
/* Falta */
/* main Login */
/* Falta */

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
    font-weight: bold;
    color: #2B2A4C;
}

footer .container section ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

}

/* SEGUNDO CORTE ----------------------------------------------------------------------- */

@media only screen and (min-width: 1024px){

    header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 3.5em;
    color: #B31312;
}

header nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #2B2A4C;
}

.inde{
    width: auto;
}

.containerDibu{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 80%;
    
}

.inde .containerInde{
    padding: 0 100px;
    display: flex;
    flex: 1;
    width: 1240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80%;
}

.inde .containerInde h2{
    padding-top: 20px;
    font-size: 4.5em;
}


.inde .containerInde img{
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* main Galería */
/* Falta */

/* main Nosotros */

.nosotros{
    width: auto;
}

.nosotros .containerNos{
    padding: 0 100px;
    display: flex;
    flex: 1;
    width: 1240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
}

.nosotros .iframe-container{
   
    margin-top: 50px;
    padding-bottom: 50px;
}

/* main Contacto */
.cuerpoGral{
    width: auto;
}

.cuerpoGral .container .cuerpo .card{
    display: flex;
    flex: 1;
    width: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}

/* main Registro */
/* Falta */

/* main Login */
/* Falta */

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: #2B2A4C;
}

footer .container section ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}

}
