.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.iframe-container iframe {
    width: 612px; /* Ancho del iframe ajustable */
    height: 336px; /* Altura del iframe ajustable */
}