*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     margin: 0;
     font-family: 'Roboto', sans-serif;
}

h2{font-size: 3.1em;}

.container{
    max-width: 1100px;
    margin: auto;
}

.campolabel {
    color: #b31312;
    font-size: 30px;
    text-align: start;
    font-weight: bold;
    
}
.campo {
    width: 50em;
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    
}

.contenBoton {
    display: flex;
    justify-content: center;

    
}

.boton {
    background-color: #eee2de;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #b31312;    
}

header{
    background-color: #EEE2DE;
}

header .logo{
    margin: 0;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 4em;
    color: #B31312;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    text-decoration: none;
}

header nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #2B2A4C;
}

header a:hover{
    color:#B31312;
    text-decoration: none;
}

.login{
    margin: 0 auto;
}

.cuerpoGral{
    background-color: #2B2A4C;
    text-align: center;
    padding: 10px;
}

.cuerpoGral .container{
    padding: 150px 12px;
}

.cuerpoGral .container h2{
    margin-top: 0;
    padding-bottom: 50px;
    color: #EEE2DE;
}

.cuerpoGral .cuerpo .card{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    background-color: #EA906C;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}


.main h2{
    margin-top: 10;
    padding-bottom: 10px;
    color: #EEE2DE;
}

footer{
    background-color: #EEE2DE;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    color: #2B2A4C;
    font-weight: bold;
}

    footer p{
    margin: 0;
    padding: 12px;
}
main section .contenedor_galeria {
    padding: 15px;
    padding-left: 25px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 87%;
}

main section .contenedor_galeria article {
    padding: 25px 40px;
    background-color: #EA906C;
    width: calc(100% - 50px);
    max-width: 350px;
    height: 60vh;
    text-align: center;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




main section .contenedor_galeria article p {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B31312;
}

footer .container .color-acento{
        font-weight: bold;
        color: #B31312;
}

footer .container section ul{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.iframe-container iframe {
    width: 100%;
    max-width: 450px;
    height: 350px;
}

main section .contenedor_galeria article .dibu1 {
    width: 70%;
    height: auto;
}
/* PRIMER CORTE ---------------------------------------------------------------------- */

@media only screen and (min-width: 768px){
    
    header{
    position: fixed;
    width: 100%;
}

    header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 3em;
    color: #B31312;
}
    header nav a{
    padding: 5px 9px;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
    color: #2B2A4C;
}

    header .container{
        flex-direction: row;
        justify-content: space-between;
        
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        align-items: center;
    }

    .cuerpoGral .container .cuerpo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .form-image-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .form-image-container .card {
        flex: 1;
        margin-right: 20px;
    }

    .iframe-container iframe {
        height: 400px;
    }

 main section .contenedor_galeria article {
        height: 60vh;
    }

    main section .contenedor_galeria article {
        width: calc(51% - 50px);
        max-width: 400px;
        margin: 25px 15px;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
    font-weight: bold;
    color: #2B2A4C;
}

footer .container section ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}
.form-image-container .image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
main section .contenedor_galeria article {
    height: 60vh;
}

main section .contenedor_galeria article {
    width: calc(51% - 50px);
    max-width: 400px;
    margin: 25px 15px;
}
}
/* SEGUNDO CORTE ----------------------------------------------------------------------- */

@media only screen and (min-width: 1024px){

    header .marca{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 3.5em;
    color: #B31312;
}

header nav a{
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #2B2A4C;
}

.cuerpoGral{
    width: auto;
}

.cuerpoGral .container .cuerpo .card{
    display: flex;
    flex: 1;
    width: 220px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-direction: column;
    height: 500px;
}
.iframe-container iframe {
    max-width: 700px;
    height: 500px;
}


footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: #2B2A4C;
}

footer .container section ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
}    
.form-image-container .image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
main section .contenedor_galeria article {
    height: 60vh;
}

main section .contenedor_galeria article {
    width: calc(85% - 50px);
    max-width: 400px;
    margin: 25px 15px;
}

}
